/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

.inner-container .logo {
  padding-top: 30px
}
body #main .ls-wrapper a.ls-layer-link,
body #main .btn-default {
  position: relative;
  display: inline-block;
  background-color: #f16639;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px
}
body#top div .av-light-form input[type='text'] {
    border-radius: 40px;
    color: #666666;
    background-color: #ffffff;
}
body#top div .av-light-form input[type='submit'] {
    border-radius: 40px;
}
body .avia-section-huge .content {
    padding-top: 30px;
}
nav.main_menu ul.menu li.current-menu-item .avia-menu-text{
  background-color: #333333;
  color: #ffffff;
  padding: 5px 14px;
  border-radius: 45px;
  font-weight: 100;
}
#box-download .avia-builder-el-last,
#box-download .avia-builder-el-last a {
  margin: 0 auto!important;
  float: none;
  text-align: center
}
#box-download p {
  color: #ffffff;
  width: 800px;
  margin: 0 auto 20px auto;
  text-align: center
}
#box-download h1 {
  color: #ffffff;
  font-weight: 100;
  font-size: 30px;
}
#box-download .avia-button.avia-color-orange {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 40px;
  width: 260px;
  margin: 0 auto
}

#header.header_color.av_header_transparency .av-main-nav > li .wpml-ls-display {
  color:#ffffff
}
#header.header_color.av_header_transparency .av-main-nav > li .sub-menu .wpml-ls-display {
  color:#333333
}
.wpml-ls-statics-post_translations {
  display: none!important
}
#top #header.av_minimal_header .main_menu ul:first-child >li > ul {
  width: 98px
}
/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}